<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid">
      <div class="sidebar-brand-icon"><img src="../../../assets/img/logo.jpg" height="20px" width="20px" class="rounded-circle" alt="Cinque Terre"></div>
      <div class="sidebar-brand-text mx-3"><span>ST-JUDES ACADEMY</span></div>
    <ul class="nav navbar-nav flex-nowrap ml-auto">
       <li class="nav-item dropdown d-sm-none no-arrow">
          <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
          <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
             <form class="form-inline mr-auto navbar-search w-100">
                <div class="input-group">
                   <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                   <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                </div>
             </form>
          </div>
       </li>
       <li class="nav-item dropdown no-arrow mx-1" role="presentation">
          <div class="nav-item dropdown no-arrow">
             <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></button>
             <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                role="menu">
                <h6 class="dropdown-header">alerts center</h6>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="mr-3">
                      <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                   </div>
                   <div>
                      <span class="small text-gray-500">December 12, 2019</span>
                      <p>A new monthly report is ready to download!</p>
                   </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="mr-3">
                      <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                   </div>
                   <div>
                      <span class="small text-gray-500">December 7, 2019</span>
                      <p>$290.29 has been deposited into your account!</p>
                   </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="mr-3">
                      <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                   </div>
                   <div>
                      <span class="small text-gray-500">December 2, 2019</span>
                      <p>Spending Alert: We&#39;ve noticed unusually high spending for your account.</p>
                   </div>
                </a>
                <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
             </div>
          </div>
       </li>
       <li class="nav-item dropdown no-arrow mx-1" role="presentation">
          <div class="nav-item dropdown no-arrow">
             <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></button>
             <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in"
                role="menu">
                <h6 class="dropdown-header">alerts center</h6>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="avatars/avatar4.jpeg" />
                      <div class="bg-success status-indicator"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I&#39;ve been having.</span></div>
                      <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                   </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="avatars/avatar2.jpeg" />
                      <div class="status-indicator"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                      <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                   </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="avatars/avatar3.jpeg" />
                      <div class="bg-warning status-indicator"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate"><span>Last month&#39;s report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                      <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                   </div>
                </a>
                <a class="d-flex align-items-center dropdown-item" href="#">
                   <div class="dropdown-list-image mr-3">
                      <img class="rounded-circle" src="avatars/avatar5.jpeg" />
                      <div class="bg-success status-indicator"></div>
                   </div>
                   <div class="font-weight-bold">
                      <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren&#39;t good...</span></div>
                      <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                   </div>
                </a>
                <a class="text-center dropdown-item small text-gray-500" href="#">Show All Alerts</a>
             </div>
          </div>
          <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>
       </li>
       <div class="d-none d-sm-block topbar-divider"></div>
       <li class="nav-item dropdown no-arrow" role="presentation">
          <div class="nav-item dropdown show no-arrow">
             <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="true" type="button"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="avatars/avatar1.jpeg" /></button>
             <div
                class="dropdown-menu hide shadow dropdown-menu-right animated--grow-in" role="menu">
                <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile</a><a class="dropdown-item" role="presentation" href="#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings</a>
                <a
                   class="dropdown-item" role="presentation" href="#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Activity log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" role="presentation" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout</a>
             </div>
          </div>
       </li>
    </ul>
  </div>
</nav>
      <!-----------------------CONTENT GOES HERE_______________________________-->
      <div class="container-fluid">
        <h3 class="text-dark mb-4">Profile</h3>
        <div class="row mb-3">
            <div class="col-lg-4">
                <div class="card mb-3">
                    <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="dogs/image2.jpeg" width="160" height="160" />
                      <p>Name  :- <span class="text-dark font-weight-bold">Aashray Katiyar</span></p>
                      <p>Grade  :- <span class="text-dark font-weight-bold">10th</span></p>
                      <p>Section  :- <span class="text-dark font-weight-bold">A</span></p>
                      <p>Roll.no  :- <span class="text-dark font-weight-bold">16</span></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
            <!------>
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold">Additional Details</p>
                            </div>
                            <div class="card-body">
                                <strong class="text-secondary">Address</strong>
                                <p>Bahadurganj, Krishnanagar-8, kapilvastu</p>
                                <div class="row mb-3" >
                                  <div class="col-6">
                                      <div class="card text-white bg-primary shadow">
                                          <div class="card-body">
                                              <div class="row mb-2">
                                                  <div class="col">
                                                      <p class="m-0">First Terminal Result</p>
                                                      <p class="m-0"><strong>95.2%</strong></p>
                                                      <p class="m-0"><strong>30th Rank</strong></p>
                                                  </div>
                                                  <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                              </div>
                                              <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 5% since last month</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-6">
                                      <div class="card text-white bg-success shadow">
                                          <div class="card-body">
                                              <div class="row mb-2">
                                                  <div class="col">
                                                      <p class="m-0">Second Terminal Exam</p>
                                                      <p class="m-0"><strong>95.2%</strong></p>
                                                      <p class="m-0">25th Rank</p>
                                                  </div>
                                                  <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                              </div>
                                              <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i> 10% since last month</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <!------------------------PERIODS INFO _-------------------------------------------------------------------->
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Routine</p>
            </div>
            <div class="card-body">
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table dataTable my-0" id="dataTable">
                        <thead>
                            <tr>
                                <th>Period</th>
                                <th>Teacher</th>
                                <th>Subject</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>I</td>
                                <td>Harry Potter</td>
                                <td>Magic</td>
                                <td>9:45:AM</td>
                                <td>10:30:AM</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="card-footer text-center">END</div>
      </div>
      <br>
      <br>
      <div class="card shadow card-bg-primary">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">FEES DETAILS</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table dataTable my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Fees</th>
                            <th>Previous</th>
                            <th>Paid</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>BAISAKH</td>
                            <td>
                              <p><span class="font-weight-bold">Monthly:</span> Rs.2000</p>
                              <p><span class="font-weight-bold">Exam Fees:</span> Rs.2000</p>
                              <p><span class="font-weight-bold">Transportation Fees:</span> Rs.2000</p>
                            </td>
                            <td>NIL</td>
                            <td>Rs.2000</td>
                            <td>Rs.2000</td>
                        </tr>
                        <tr>
                          <td>JESTHA</td>
                          <td>
                            <p><span class="font-weight-bold">Monthly:</span> Rs.2000</p>
                            <p><span class="font-weight-bold">Exam Fees:</span> Rs.2000</p>
                            <p><span class="font-weight-bold">Transportation Fees:</span> Rs.2000</p>
                          </td>
                          <td>Rs.2000</td>
                          <td>Rs.2000</td>
                          <td>Rs.2000</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                          <td><strong>Total Paid</strong></td>
                          <td>Rs.2000</td>
                          <td><strong>Total Dues</strong></td>
                          <td>Rs.50000</td>
                      </tr>
                  </tfoot>
                </table>
            </div>
            <div class="card-footer text-center">END</div>
    </div>
  </div>

      <!-----------------------------CONTENT FINISHED-->
    </div>
  </div>
</div>


