<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
  <div class="container-fluid d-flex flex-column p-0">
     <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon"><img src="../../../assets/img/logo.jpg" height="20px" width="20px" class="rounded-circle" alt="Cinque Terre"></div>
        <div class="sidebar-brand-text mx-3"><span>ST-JUDES ACADEMY</span></div>
     </a>
     <hr class="sidebar-divider my-0" />
     <ul class="nav navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/dashboard"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/teachers"><i class="fa fa-user-md"></i><span>Teachers</span></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/students"><i class="fa fa-user"></i><span>Students</span></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/employee"><i class="fa fa-group"></i><span>Employee</span></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/activities"><i class="fa fa-calendar"></i><span>Activites</span></a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link active" href="admin/finance"><i class="fas fa-coins"></i><span>Finance</span></a>
        </li>
     </ul>
     <div class="text-center d-none d-md-inline"></div>
  </div>
</nav>
