<div class="container border p-4 rounded-top">
<h2>Admission Form</h2>
<h4>Student Info</h4>
    <div class="form-row">
      <!----STUDENTS BASIC DETAILS-->
     <div class="form-group col-sm">
       <label for="Fname">Students Name</label>
       <input type="text" class="form-control" name="Fname" >
       <small class="text-danger">HAS ERRORS</small>
     </div>
     <div class="form-group col-sm">
       <label for="lname">Sur Name</label>
      <input type="text" class="form-control" name="lname">
      <small class="text-danger">HAS ERRORS</small>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-3">
        <label for="previous">Previous Qualification</label>
       <input type="text" class="form-control" name="previous">
       <small class="text-danger">HAS ERRORS</small>
     </div>
     <div class="form-group col-sm-3">
      <label for="grade">Admission grade</label>
     <input type="text" class="form-control" name="grade">
     <small class="text-danger">HAS ERRORS</small>
   </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="photo" id="customFile">
      <label class="custom-file-label" for="customFile">Students Photo</label>
    </div>
    </div>
    <hr>
    <h4>Parents Info</h4>
    <div class="form-row">
      <div class="form-group col">
        <label for="father_name">Father Name</label>
        <input type="text" class="form-control" name="father_name">
        <small class="text-danger">HAS ERRORS</small>
      </div>
      <div class="form-group col">
        <label for="mother_name">Mother Name</label>
        <input type="text" class="form-control" name="mother_name">
        <small class="text-danger">HAS ERRORS</small>
      </div>
      <div class="form-group col">
        <label for="occupation">Father's Occupation</label>
        <input type="text" class="form-control" name="occupation">
        <small class="text-danger">HAS ERRORS</small>
      </div>
    </div>
    <hr>
    <h4>Address And Contact Info</h4>
      <div class="form-group">
        <label for="address">Permanent address</label>
        <input type="text" class="form-control" name="address">
        <small class="text-danger">Has Errors</small>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="num_1">Contact Number</label>
          <input type="number" class="form-control" name="num_1">
          <small class="text-danger">Has Errors</small>
        </div>
        <div class="form-group col">
          <label for="num_2">Telephone Number</label>
          <input type="text" class="form-control" name="num_2">
          <small class="text-danger">Has Errors</small>
        </div>
      </div>
      <hr>
      <h4>Fess Details</h4>
      <div class="form-row">
        <div class="form-group col">
          <label for="monthly">Monthly Fees</label>
          <input type="number" class="form-control" name="monthly">
        </div>
        <div class="form-group col">
          <label for="addmission">Addmission Fees</label>
          <input type="number" class="form-control" name="admission">
        </div>
        <div class="form-group col">
          <label for="remark">Remarks</label>
          <input type="number" class="form-control" name="remark">
        </div>
      </div>
</div>
